@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Voting Platform</h1>

<p><a asp-controller="Account" asp-action="Register">Register</a></p>
<p><a asp-controller="Vote" asp-action="Index">Vote</a></p>
